root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

[*.fs]
indent_size = 4
fsharp_max_value_binding_width = 80
fsharp_multiline_bracket_style = cramped
fsharp_space_before_uppercase_invocation = false
fsharp_space_before_class_constructor = false

[*.fsproj]
indent_size = 2

[*.{json,yml,yaml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[Makefile]
indent_style = tab

[justfile]
indent_size = 4
